[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

# https://github.com/Miserlou/Zappa/issues/1262
zappa = "==0.43.1"


[packages]

flask = "*"
flask-cors = "*"
flask-compress = "*"
"boto3" = "*"
python-dateutil = "*"
cachetools = "*"
