[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

zappa = "*"


[packages]

flask = "*"
"flask-boto3" = "*"
flask-caching = "*"
flask-compress = "*"
flask-cors = "*"
python-dateutil = "*"
aws-xray-sdk = "*"
