[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

zappa = "*"
futures = {version = "*", markers="python_version < '3.0'"}

[packages]

enum34 = {version = "*", markers="python_version < '3.4'"}
flask = "*"
flask-caching = "*"
flask-compress = "*"
flask-cors = "*"
python-dateutil = "*"
redis = "*"
